<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts School Web App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Hogwarts School of Wiiiiizards and Wiiiitches</h1>
        <p>
          <%= link_to 'Home', root_path %> |
          <%= link_to 'Students', students_path %>

        </p>
      </header>
      <%= yield %>
      <footer>
        Copywrong Hogwarts 2020.
      </footer>
    </div>
  </body>
</html>
